.form-check-input{
	width:45px;
	height:45px;
}
label{
	font-weight:500;
}
.profile-head{
	background:#f0f4ff;
}
.profile-head i{
	font-size:25px;
	color:#1d5ca4;
}
.agency-profile-img{
	width:150px;
	height:150px;
	border-radius:75%;
	background-color:#1e5ca4;
	font-size:150px;
	color:#0b468a;
	text-align:center;
	line-height:155px;
	position:relative;
	border:2px #fff solid;
}
.img-wrap{
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
	width:150px;
	height:150px;
	border-radius:75%;
	overflow:hidden;
}
.img-con{
	width:150px;
	height:150px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.p-edit{
	display:inline-block;
	cursor:pointer;
	color:#C00 !important;
	margin-left:5px;
}
.p-edit i{
	font-size:18px !important;
	color:#C00 !important;
}
.ph-edit-btn{
	width:40px;
	height:40px;
	background:#fff url(../images/upload.svg) no-repeat center center;
	background-size:70%;
	position:absolute;
	bottom:-10px;
	right:10px;
	z-index:15;
	border-radius:75%;
	border:2px #1d5ca4 solid;
	cursor:pointer;
}
